* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: blue ;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#relogio {

    background-image: linear-gradient(150deg, blue, rgb(0, 0, 214));
    
    padding: 20px;
    width: 90%;
    max-width: 700px;
    
    /* border: 2px solid; */
    border-radius: 9px;

    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4), -3px -3px 7px rgba(255, 255, 255, 0.4);
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.relogio-visor {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.relogio-visor p {
    font-size: 25px;
    text-transform: capitalize;
    font-weight: bold;
    
}

.visor {
    background-color: rgb(11, 17, 77);
    color: rgb(189, 194, 254);

    padding: 20px;
    border-radius: 9px;

    font-size: 40px;
}